// import mixin and variables
@import "../../../assets/styles/helper/function", "../../../assets/styles/helper/mixin",  "../../../assets/styles/helper/variables";

.m-card-detail {
  @include clearfix();
  .a-card {
    .card-detail {
      position: relative;
      p {
        margin-bottom: 0;
      }
      .card-image {
        background-color: blue;
        width: auto;
        height: 250px;
        border-radius: 5px;
        color: black;
      }
      .card-info {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 24px 24px;
        .text-info,
        .type-info {
          height: 0;
          transition: all .25s ease;
          overflow: hidden;
          color: black;
        }
      }
    }
    &:hover {
      transform: translateY(-5px);
      .card-info {
        .text-info {
          height: 3.2rem;
          font-size: 2.4rem;
          margin-bottom: 0.8rem;
          @include large {
            font-size: 3.2rem;
          }
        }
        .type-info {
          height: 2.4rem;
          font-size: 1.4rem;
          @include large {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}