// import mixin and variables
@import '../../../assets/styles/helper/function',
  '../../../assets/styles/helper/mixin',
  '../../../assets/styles/helper/variables';

.a-card {
  width: 100%;
  height: auto;
  @include large {
    max-width: 250px;
    width: 100%;
    height: 180px;
  }
  img {
    margin: 0 auto;
    width: 200px;
    @include large {
      width: 400px;
    }
  }
}
