// import mixin and variables
@import "../../../assets/styles/helper/function", "../../../assets/styles/helper/mixin",  "../../../assets/styles/helper/variables";

.m-header {
  width: 100%;
  height: 50px;
  background-color: rgb(255, 71, 71);
  .header-centering {
    display: flex;
    justify-content: center;
    padding: 8px 0;
    .header-list {
      @include clearfix();
      .header-content {
        text-align: center;
        float: left;
        margin-left: 4rem;
        font-size: 1.2rem;
        font-weight: 800;
        width: 120px;
        height: 40px;
        padding: 1.2rem 0;
        cursor: pointer;
        color: white;
        transition: all .25s ease;
        &:hover {
          opacity: 0.6;
        }
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}